h1, p {
    border: 4px dashed black;
    background: lightcoral;
}

span, i, b {
    background: lightcyan;
    border: 1px solid black;
}

span {
    visibility: hidden;
}

i {
    display: none;
}

#segundo {
    height: 100px;
    overflow-y: scroll;
}